@import '~antd/dist/antd.css';


body{
    background-color: #DFF0D8;
}
.container-loading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    
}


.ant-spin-dot-item{
    background-color: teal !important;
    width: 20px!important;
    height:20px!important;
}

.ant-spin-text{
    font-size: large;
}