* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.post {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  background-color: #04171b;
  border: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;
color: #04171b;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.post:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}
.post .title {
  flex: 20%;
  border-bottom: 1px solid lightgray;
  background-color: dodgerblue;
  display: grid;
  place-content: center;
  color: #8686dc;
}

.post .body {
  flex: 60%;
  display: grid;
  place-content: center;
}

.post .footer {
  flex: 20%;
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: dodgerblue;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.footer .username {
  flex: 50%;
}
.footer .buttons {
  flex: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.likeBttn {
  color: rgba(250, 250, 250, 0.8);
}
.unlikeBttn {
  color: white;
}

.buttons label {
  margin-right: 20px;
  margin-left: 10px;
}

/* CREATE POST PAGE CSS */

.createPostPage {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  border: 5px solid dodgerblue;
  border-radius: 5px;
}

.formContainer #inputCreatePost {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: lightskyblue;
  border-radius: 5px;
  color: white;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: dodgerblue;
}

span {
  color: rgb(2, 59, 57);
}



/* INDIVIDUAL POST */
.postPage {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.leftSide {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
}

.rightSide {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
  display: flex;
  flex-direction: column;
}

.rightSide .addCommentContainer {
  flex: 20%;
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 25px;
}

.addCommentContainer input,
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;

}

.addCommentContainer button {
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #04171b;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
}

.addCommentContainer input {
  display: block;
  appearance: none;
  outline: 0;
  border: 1px solid #48838A;
  background-color:  #04171b;
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  text-align: center;
  font-size: 18px;
  color: #48838A;
  transition-duration: 0.25s;
  font-weight: 300;
}

.rightSide .listOfComments {
  flex: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listOfComments .comment {
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #48838A;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
}

#individual {
  height: 500px;
  width: 600px;
}

#individual .title,
#individual .footer {
  font-size: 30px;
}

#individual .body {
  font-size: 25px;
}












@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

.postPage,
.Image {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
}
.Image {
  flex: 3 1 30ch;
  height: calc(282px + 5vw);
  overflow: hidden;


}
.Image img {
  max-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
  
  object-position: 50% 50%;
  background-color: #e05d26;
  border-top-right-radius: 0;
}

.PostDetail {
  border: 2px solid #f2f2f2;
  border-top-left-radius: 100px !important;
  border-top-right-radius: 100px !important;
  border-bottom-right-radius: 100px !important;
  border-bottom-left-radius: 100px !important;
  max-width: 600px;
  background-color: #04171b;
  display: flex;
  justify-content: center;
  flex-direction: initial;


  /* tighter, but the change from max to min feels weird */
  width: min(75%, 600px);

  overflow: hidden;
}
.Post {
  border: 2px solid #f2f2f2;
  border-top-left-radius: 100px !important;
  border-top-right-radius: 100px !important;
  border-bottom-right-radius: 100px !important;
  border-bottom-left-radius: 100px !important;
  max-width: 600px;
  margin-bottom: 10%;
  background-color: #04171b;


  /* tighter, but the change from max to min feels weird */
  width: min(75%, 600px);

  overflow: hidden;
}
.Content {
  flex: 4 1 40ch;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.recipe-tags {
  margin: 0 -8px;
}
.recipe-tag {
  display: inline-block;
  margin: 8px;
  font-size: 0.875em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: var(--primary);
}
.title {
  margin: 0;
  font-size: clamp(1.4em, 2.1vw, 2.1em);
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
  color: #8686dc;

}
.title a {
  text-decoration: none;
  color: inherit;
}
.recipe-metadata {
  margin: 0;
}

.description {
  display: flex;
  align-items: center;
  padding: 6px 14px 6px 12px;
  border-radius: 10px !important;
  background-color: black;
  border: 2px solid currentColor;
  color: #8686dc;
  background: none;
  cursor: pointer;
  font-weight: bold;
}
.recipe-save svg {
  margin-right: 6px;
}
/* Body Layout */
* {
  box-sizing: border-box;
}

.postPage {
  background-color: #DFF0D8;
  padding-top: 5%;
  padding-bottom: 5%;

/*   --primary: #e05d26;
  --grey: #454545;
  --lightgrey: #666;
  color: var(--grey); */
  line-height: 1.55;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Roboto", Helvetica, Arial, sans-serif;

}

.big {
  width: clamp(320px, 65%, 65%);
  padding: 24px;
}
.small {
  width: clamp(320px, 35%, 480px);
  padding: 24px;
}

.Engagement {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px 10px 60px 12px;
}
