


@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
* {
  margin: 0;
  padding: 0;
}

.Profile,
.Image {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
}
.Image {
  flex: 3 1 30ch;
  height: calc(282px + 5vw);
  overflow: hidden;

}
.Image img {
  max-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
  background-color: #e05d26;
  border-top-right-radius: 0;
}
.Post {
  border: 2px solid #f2f2f2;
  border-top-left-radius: 100px !important;
  border-top-right-radius: 100px !important;
  border-bottom-right-radius: 100px !important;
  border-bottom-left-radius: 100px !important;
  max-width: 600px;
  margin-bottom: 10%;
  background-color: azure;


  /* tighter, but the change from max to min feels weird */
  width: min(75%, 600px);

  overflow: hidden;
}
.Content {
  flex: 4 1 40ch;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.recipe-tags {
  margin: 0 -8px;
}
.recipe-tag {
  display: inline-block;
  margin: 8px;
  font-size: 0.875em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: var(--primary);
}
.title {
  margin: 0;
  font-size: clamp(1.4em, 2.1vw, 2.1em);
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
}
.title a {
  text-decoration: none;
  color: inherit;
}
.recipe-metadata {
  margin: 0;
}

.description{
  display: flex;
  align-items: center;
  padding: 6px 14px 6px 12px;
  border-radius: 10px !important;
  background-color: black;
  border: 2px solid currentColor;
  color: var(--primary);
  background: none;
  cursor: pointer;
  font-weight: bold;
}
.recipe-save svg {
  margin-right: 6px;
}
/* Body Layout */
* {
  box-sizing: border-box;
}

.Profile {
  background-color: #DFF0D8;
  padding-top: 5%;
  padding-bottom: 5%;

/*   --primary: #e05d26;
  --grey: #454545;
  --lightgrey: #666;
  color: var(--grey); */
  line-height: 1.55;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Roboto", Helvetica, Arial, sans-serif;

}

.big {
  width: clamp(320px, 65%, 65%);
  padding: 24px;
}
.small {
  width: clamp(320px, 35%, 480px);
  padding: 24px;
}

.Engagement {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px 10px 60px 12px;
}
